<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gráficos de consumos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-10 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">{{ title_1}}</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels"
                        click="line.onClick"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-sm-12" id="line-chart2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ title_2 }}</div>
                <div class="panel-body">
                    <canvas id="line2" class="chart chart-line chart-xl" data="line2.data" labels="line2.labels"
                            click="line2.onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>